<div class="center">
  <h1>New Album</h1>
  <p>You're about to create a new album. You need to add a unique album name <em>(ex. Graduation Photos)</em> and then choose the pictures you want with the choose files button.
  </p>
  
</div>