<section>
  <div class="row new">
    <div class="col-md-1">
      <button type="button" class="btn btn-default active"><span class="glyphicon glyphicon-plus-sign"></span> New</button>
    </div>
    <div class="col-md-8">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </div>
    <div class="col-md-3 pull-right">
      <p>
        <button type="button" class="btn btn-primary">Enter</button>
      </p>
    </div>
  </div>
</section>

<section>
  <div class="row customer">
    <div class="col-md-3">
      <img src="../ian-maddy.jpg" alt="Image!" class="img-thumbnail">
    </div>
    <div class="col-md-6 mid-info">
      <div class="top row">
        <span class="info-left">Name</span>
        <span class="info-right">Ian Knauer</span>
      </div>
      <div class="bottom row">
        <span class="info-left">Email</span>
        <span class="info-right">ian.knauer@gmail.com</span>
      </div>
    </div>
    <div class="col-md-3 right-info">
       <div class="top row default">
        <span class="status-left">3</span>
        <span class="status-right">Active Orders</span>
      </div>
      <div class="bottom row success">
        <span class="status-left">1</span>
        <span class="status-right">Completed Orders</span>
      </div>
    </div>
  </div>
<section>

<section>
  <div class="row customer">
    <div class="col-md-3">
      <img src="../ian-maddy.jpg" alt="Image!" class="img-thumbnail">
    </div>
    <div class="col-md-6 mid-info">
      <div class="top row">
        <span class="info-left">Name</span>
        <span class="info-right">Ian Knauer</span>
      </div>
      <div class="bottom row">
        <span class="info-left">Email</span>
        <span class="info-right">ian.knauer@gmail.com</span>
      </div>
    </div>
    <div class="col-md-3 right-info">
       <div class="top row default">
        <span class="status-left">3</span>
        <span class="status-right">Active Orders</span>
      </div>
      <div class="bottom row success">
        <span class="status-left">1</span>
        <span class="status-right">Completed Orders</span>
      </div>
    </div>
  </div>
<section>
<section>
  <div class="row customer">
    <div class="col-md-3">
      <img src="../ian-maddy.jpg" alt="Image!" class="img-thumbnail">
    </div>
    <div class="col-md-6 mid-info">
      <div class="top row">
        <span class="info-left">Name</span>
        <span class="info-right">Ian Knauer</span>
      </div>
      <div class="bottom row">
        <span class="info-left">Email</span>
        <span class="info-right">ian.knauer@gmail.com</span>
      </div>
    </div>
    <div class="col-md-3 right-info">
       <div class="top row default">
        <span class="status-left">3</span>
        <span class="status-right">Active Orders</span>
      </div>
      <div class="bottom row success">
        <span class="status-left">1</span>
        <span class="status-right">Completed Orders</span>
      </div>
    </div>
  </div>
<section>